In [169]:
import pandas as pd

df = pd.read_csv(r'C:\Users\josep\Documents\Python Scripts\pokemon_data.csv')

df.head(13)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False

In [24]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [44]:
df[['Name','Type 1','Attack']].iloc[[7]]

                        Name Type 1  Attack
7  CharizardMega Charizard X   Fire     130

In [43]:
df.iloc[[7]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False

In [46]:
df.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [47]:
df.iloc[0,1]

'Bulbasaur'

In [51]:
#for index, row in df.interrow():
    #print(index,row)
    
df[['#', 'Name']]

       #                   Name
0      1              Bulbasaur
1      2                Ivysaur
2      3               Venusaur
3      3  VenusaurMega Venusaur
4      4             Charmander
..   ...                    ...
795  719                Diancie
796  719    DiancieMega Diancie
797  720    HoopaHoopa Confined
798  720     HoopaHoopa Unbound
799  721              Volcanion

[800 rows x 2 columns]

In [72]:
df.loc[df['Type 1']=="Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [61]:
df[['Name']]

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [64]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [68]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [84]:
df.sort_values(['Type 1','HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [167]:
df['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [92]:
cols= list(df.columns.values)
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]

In [94]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [98]:
df=df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary','Total']]

In [99]:

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [114]:
df.loc[(df['Type 1'] == "Bug") | (df['Type 2'] == "Flying") & (df['HP'] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395
...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,6,False,200
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False,213
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False,411
771,701,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False,500
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680

In [121]:
new_df = df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed','Total', 'Generation', 'Legendary']].loc[(df['Type 1'] == "Grass") & (df['Type 2'] == "Flying" )]

In [122]:
new_df.to_csv(r'C:\Users\josep\Documents\Python Scripts\Grass Flying.csv', index = False)

In [124]:
new_df = new_df.reset_index(drop=True)

new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,187,Hoppip,Grass,Flying,35,35,40,35,55,50,250,2,False
1,188,Skiploom,Grass,Flying,55,45,50,45,65,80,340,2,False
2,189,Jumpluff,Grass,Flying,75,55,70,55,95,110,460,2,False
3,357,Tropius,Grass,Flying,99,68,83,72,87,51,460,3,False
4,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,600,4,True

In [127]:
df.loc[(~df['Name'].str.contains("Mega"))

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,505
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False,350
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False,410
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False,495
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False,525
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False,309
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False,405
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False,534
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False,250
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False,410
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False,365
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True,580
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False,310
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False,405
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False,530
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False,305
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False,460
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False,470
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False,309
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False,405
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False,534
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False,540
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,600
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False,528
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False,316
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False,498
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False,315
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False,480
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False,540
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False,484
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False,307
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False,409
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False,534
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [133]:
import re

df.loc[df['Name'].str.contains('^ni[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
34,29,Nidoran (Female),Poison,NaN,55,47,52,40,40,41,1,False,275
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False,365
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False,505
37,32,Nidoran (Male),Poison,NaN,46,57,40,40,40,50,1,False,273
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False,365
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,505
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False,266
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False,456

In [139]:
df.loc[df['Type 1'] == "Fire", 'Type 1'] = "HotBoy"

In [140]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [141]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [150]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673

In [159]:
df.groupby(['Type 1']).mean().sort_values('HP',ascending = False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536

In [164]:
df['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [174]:
df['Count'] = 1

df.groupby(['Type 1','Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

In [181]:
df.sort_values(['HP','Type 1'],ascending =[0,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Count
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False,1
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False,1
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False,1
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False,1
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False,1
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,1
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,1
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False,1
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False,1

In [183]:
df.isna().any()

#             False
Name          False
Type 1        False
Type 2         True
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
Count         False
dtype: bool

In [187]:
df.nsmallest(3,'Attack')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Count
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False,1
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,1
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,1

In [188]:
df[['Attack','Defense']].groupby(df['Type 1']).mean()

              Attack     Defense
Type 1
Bug        70.971014   70.724638
Dark       88.387097   70.225806
Dragon    112.125000   86.375000
Electric   69.090909   66.295455
Fairy      61.529412   65.705882
Fighting   96.777778   65.925926
Fire       84.769231   67.769231
Flying     78.750000   66.250000
Ghost      73.781250   81.187500
Grass      73.214286   70.800000
Ground     95.750000   84.843750
Ice        72.750000   71.416667
Normal     73.469388   59.846939
Poison     74.678571   68.821429
Psychic    71.456140   67.684211
Rock       92.863636  100.795455
Steel      92.703704  126.370370
Water      74.151786   72.946429

In [192]:
df.groupby(df['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Count
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,1.0
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,1.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,1.0
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,1.0
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.0
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,1.0
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,1.0
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.0
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,1.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.0
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,1.0

In [193]:
df.groupby(['Type 1','Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64